
<div class="topAll">
    <div class="mypageAll">
        <div class="mypagepage">
            <h1><%= @touser.name %></h1>
            <h3>年齢：<%= @touser.age %></h3>
            <h3>性別：<%if @touser.sex == 1 %>
            男
            <%else%>
            女
            <%end%></h3>
        </div>
        <div class="mypageselect">
            <div class="matchPeople">
                <%= link_to( "見に行ってみる！" ,  "/user/#{params[:id]}" , class: "matchbutton" )%>
            </div>  
            <div class="matchPeople">
                <%= link_to( "一緒に行く！" ,  "/taxi/match/#{params[:id]}" , class: "matchbutton" )%>
            </div>
        </div>
    </div>
</div>