<div class="topAll">
    <div class="waitingAll">
        <div class="waitingExplain">
        </div>
        <div class="waitingPeople">
            <%for @taxi in @waiting_user%>
                <%if @taxi.id !=session[:id]%>
                    <div class="waitingParams">
                        <div class="waitingUser">
                            <p><%= @taxi.name%></p>
                        </div>
                        <div class="waitingUser waitingUserLink">
                            <%= link_to( "さそう？" , "/taxi/connect/#{@taxi.id}" , class: "waitcontact" )%>
                        </div>
                    </div>
                <%end%>
            <%end%>
        </div>
    </div>
</div>