<h1>Editing rtaxiconnect</h1>

<%= render "form", rtaxiconnect: @rtaxiconnect %>

<br>

<div>
  <%= link_to "Show this rtaxiconnect", @rtaxiconnect %> |
  <%= link_to "Back to rtaxiconnects", rtaxiconnects_path %>
</div>
