<div class="loginbg contactbg">
    <h1>お問い合わせ先</h1>
    <h3>代表：tanaka Sola</h3>
    <h3>メール：******@gmail.com</h3>
    <h3>電話番号：0*0-****-*****</h3>
    <h3>住所：〒252-0816 神奈川県藤沢市遠藤５３２２</h3>
    
    <p>件名に「SNWの件について」と記入した上で、お問合せ内容をメールにて送信してください。</p>

</div>