<div class="loginbg">
    <h1>新規会員登録フォーム</h1>
    <div class="loginbg loginform">
    <form action="logined" method="GET">
        <div>
        <label for="mail">メールアドレス</label>
        <input name="mail" value="">
        </div>
        <div>
        <label for="password">パスワード</label>
        <input name="password" type="password" value="">
        </div>
        <button>ログイン</button>
        </div>
    </form>
    </div>
</div>
