<form class="loginAll" action="create" method="GET">
    <div class="loginFormInto">
        <h1>新規会員登録フォーム</h1>
        <div class="cp_iptxt">
            <input class="ef" name="name" type="text" placeholder="">
            <label for="name">名前</label>
            <span class="focus_line"><i></i></span>
        </div>
        <div class="cp_iptxt">
            <input class="ef" name="age" type="text" placeholder="">
            <label for="age">年齢</label>
            <span class="focus_line"><i></i></span>
        </div>
        <div class="cp_iptxt">
            <input class="ef" name="mail" type="text" placeholder="">
            <label for="mail">メールアドレス</label>
            <span class="focus_line"><i></i></span>
        </div>
        <div class="cp_ipradio">
            <input type="radio" name="sex" value="1" id="a_rb1" />
            <label for="a_rb1">男</label>
            <input type="radio" name="sex" value="0" id="a_rb2" />
            <label for="a_rb2">女</label>
        </div>
        <div class="cp_iptxt">
            <input class="ef" name="password" type="password" placeholder="">
            <label for="password">パスワード</label>
            <span class="focus_line"><i></i></span>
        </div>
        <p>必ず全ての項目を入力してください</p>
    </div>
    <div class="loginButton">
        <div class="topLoginSelectTop"><%= link_to( "LOGIN" , "/user/login" , class: "" )%></div>
        <button class="topLoginSelectDown">REGISTER</button>
    </div>
</form>
