<div class="loginbg">
    <h1>新規会員登録フォーム</h1>
    <div class="loginbg loginform">
    <form action="create" method="GET">
        <div>
        <label for="name">名前<span>(10文字以内)</span></label>
        <input name="name" value="">
        </div>
        <div>
        <label for="age">年齢</label>
        <select name="age">
            <option>~17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26~</option>
        </select>
        </div>
        <div>
        <label for="mail">メールアドレス</label>
        <input name="mail" value="">
        </div>
        <div>
        <label for="passward">パスワード</label>
        <input name="passward" type="password" value="">
        </div>
        <div>
        <label for="sex">性別</label>
        <input type="radio" name="sex" value="1" /> 男
        <input type="radio" name="sex" value="0" /> 女
        </div>
        <p class="newbutton">必ず全てを入力してください</p>
        <div  class="newbutton">
        <button>登録</button>
        </div>
    </form>
    </div>
</div>

