

<div class="topAll">
    <div class="waitingAll">
        <div class="waitingExplain">
        </div>
        <div class="waitingPeople">
            <%for user in @users%>
                <%@index = User.find_by(id: user)%>
                <div class="waitingParams">
                    <div class="waitingUser">
                        <%= link_to "#{@index.name}", "/user/#{@index.id}", class: "talkinuserslink" %>
                    </div>
                    <div class="waitingUser waitingUserLink">
                        <%= link_to "MESSAGE PAGE", "/user/talk/#{@index.id}", class: "talkuserslink" %>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>
