<div class="topAll">
    <div class="talkuser"><p><%= @touser.name %></p></div>
    <div class="talkindexbg">
        <form action="" method="GET">
            <div>
                <textarea name="message"></textarea>
            </div>
            <div>
                <button>送信</button>
            </div>
        </form>
    </div>
    <div class="talkusers">
        <% for @textData in @messages%>
            <div class="message">
                <%if @textData.from == session[:id]%>
                    <div class="messagenameA"><%= User.find_by(id:@textData.from).name %></div>
                <%else%>
                    <div class="messagenameB"><%= User.find_by(id:@textData.from).name %></div>
                <%end%>
                <div class="messagetext"><%= @textData.message %></div>
            </div>
        <%end%>
    </div>
</div>
