/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
    position: relative;
}

#header {
    width: 80%;
    height: 7%;
    color: #000000;
    font-family: "Courier New";
    border-bottom: thin solid #576f72;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    font-size: 130%;
}

.menuLeft{
}

.menuLeftLink {
    text-decoration: none;
    text-align: right;
    color: inherit;
}

.menuCenter {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.menuCenterLink {
    text-decoration: none;
    color: inherit;
    font-size: 140%;
}

.menuRight {
}

.menuRightLink {
    text-align: right;
    color: inherit;
    text-decoration: none;
}

.menuRightLink:hover,
.menuLeftLink:hover{
    color: #576F72;
}
